<div class="center jumbotron text-center">
  <%if logged_in?%>
    <h1>Bienvenue <%= @current_user.first_name%> !</h1>   
    <p>Voici la page du club: <%=link_to "Page du club", users_path%></p>
  <%else%>
    <h1>Bienvenue !</h1>
    <h3>Tu dois effectuer une des 2 actions ci-dessous pour continuer</h3>
    <br>
    <%= link_to "Enregistre-toi !", signup_path, class: "btn btn-lg btn-primary" %>
    <%= link_to "Connecte-toi !", login_path, class: "btn btn-lg btn-link" %>
  <%end%>
</div>
